.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d4fd820;
    height: 40vh;
    margin-top:-2em;
    box-shadow: 5px 5px 10px #1d4fd8;

    .para-footer{
        font-size: 1.2em;
    }
    .tabs-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2em;
    }
    .tabs-footer span{
         margin:1em;
         font-weight: 500;
    }
}